body{
    font-family: 'Roboto', sans-serif;
   color:  #434455;
   background-color: #FFFFFF;
    }
:root{
    --title-color:#2E2F42;
    --text-color:#434455;
}
    .list{
    list-style: none;
    }
    .link{
    text-decoration: none;
    }
    .header-logo-studio{
    color:#2e2f42;
    }
    .header-logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
    }
    .header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }
    .header-link:hover,
    .header-link:focus{
    color: #404bbf;
    }
    .header-address{font-style: normal}
    .header-address-item{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
    color: var(--text-color);
    }
    
    .header-address-item:hover,
    .header-address-item:focus{
    color: #404bbf;
    }
    
    .hero-text{
    background-color:#2E2F42;
    }
    .hero-title{
     font-style: normal;
     font-weight: 700;
     font-size: 56px;
     line-height: 1.07;
     text-align: center;
     letter-spacing: 0.02em;
     color: #FFFFFF;    
    }
    
    .hero-button{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#FFFFFF;
    background-color:#4D5AE5;
    cursor: pointer;
    }
    .hero-button:hover,
    .hero-button:focus{
    background-color: #404BBF;
    }
    .benefits-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    }
    .benefits-text{
    font-size: 16px;
    line-height: 1.5 ;
    letter-spacing: 0.02em;
    color: var(--text-color);
    }
    .content-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color:var(--title-color);
    }
    .team{
    background-color:#F4F4FD;
    }
    .team-item{
    background-color:#FFFFFF;
    }
    .team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color:#2e2f42;
    }

    .team-title-small{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--title-color);
    }

   .team-text{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--text-color);
   }
    .footer{
    background-color:#2E2F42 ;
    }
    .footer-logo-studio{
    color: #F4F4FD;
    }
    
    .footer-text{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
    }
    
    .menu-button{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color:#F4F4FD;
    cursor: pointer;
    }
    .menu-button:hover,
    .menu-button:focus{
    color:#FFFFFF;
    background-color:#404BBF;
    }
    .pic-title{

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }
    .pic-text{
        
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    }
    