body{
    font-family: 'Roboto', sans-serif;
   color:  #434455;
   background-color: #FFFFFF;
    }
:root{
    --title-color:#2E2F42
}
    .list{
    list-style: none;
    }
    .link{
    text-decoration: none;
    }
    .header-logo-studio{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    }
    .header-logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae4; 
    }
    .header-link{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }
    .header-link:hover,
    .header-link:focus{
    color: #404bbf;
    }
    
    
    .header-address-item{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
    color: #434455;
    }
    
    .header-address-item:hover,
    .header-address-item:focus {
    color: #404bbf;
    }
    
    .hero-text{
    background-color: #2E2F42;
    }
    .hero-title{
 
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    }
    .hero-button{
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    align-items: center;
    color: #FFFFFF;
    background-color:#4D5AE5;
    cursor: pointer;
    }
    .hero-button:hover,
    .hero-button:focus{
    color: #404bbf;
    }
    .benefits-title{
    
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--title-color);
    }
    .benefits-text{
   
    font-size: 16px;
    line-height: 24px;
    color:#434455;
    }
    .content-title{
   
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color:var(--title-color);
    }
    .team-title{
   
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--title-color);
    }
    .team-title-small{
    
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:var(--title-color);
    }
    .team-text{
  
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#434455;
    }
    .footer{
    background-color:#2E2F42 ;
    }
    .footer-logo-studio{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    }
   
    .footer-text{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    }
    
    .menu-button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color:#F4F4FD;
    cursor: pointer;
    }
    .menu-button:hover,
    .menu-button:focus{
    color:#FFFFFF;
    background-color: #404BBF;
    }
    .pic-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }
    .pic-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    }
    