body{
    font-family: 'Roboto', sans-serif;
    }
    .list{
    list-style: none;
    }
    .link{
    text-decoration: none;
    }
    .header{
    }
    span {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae4;
    }
    .header-navigation{
     }
    .header-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    }
    .header-list{
     }
    .header-link{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }
    .header-link:hover,
    .header-link:focus{
    color: #404bbf;
    }
    
    .header-address-mail{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
    color: #434455;
    }
    
    .header-address-mail:hover,
    .header-address-mail:focus {
    color: #404bbf;
    }
    .header-address-phone{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
    color: #434455;
    }
    .header-address-link{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
    color: #434455;
    }
    .hero-subtitles{    
    }
    .hero-text{
    background-color: #2E2F42;
    }
    .hero-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    }
    .hero-button{
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    align-items: center;
    color: #FFFFFF;
    background-color:#4D5AE5;
    cursor: pointer;
    }
    .hero-button:hover,
    .hero-button:focus{
    color: #404bbf;
    }
    
    .benefits-subjects{
    }
    .benefits-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2E2F42;
    }
    .benefits-text{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
    color:#434455;
    }
    .content-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color:#2E2F42;
    }
    
    .team{
    }
    .team-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    }
    .team-title-small{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#2E2F42;
    }
    .team-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#434455;
    }
    .footer{
    background-color:#2E2F42 ;
    }
    .footer-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    }
    span{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: #4d5ae4;
    }
    .footer-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    }
    
    .menu-button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color:#F4F4FD;
    cursor: pointer;
    }
    .menu-button:hover,
    .menu-button:focus{
    color:#FFFFFF;
    background-color: #404BBF;
    }
    .pic-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }
    .pic-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    }
    